<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>make</th>
        <th>model</th>
        <th>color</th>
        <th>year</th>
        <th>price</th>
        <th>fuel type</th>
        <th>date created</th>
    </tr>
    </thead>
    <tbody id="cars-body">
    </tbody>
</table>
<script src="/static/scripts.js"></script>
</body>
</html>